@mixin primary-btn($color , $bg-color){
    padding: 18px 30px;
    border: 1px solid #5E3BEE;
    background: $bg-color;
    font-size: 21px;
    font-family:"Robot" sans-serif ;
    color:$color ;
}

@mixin title($ulcham){
    font-family:"Robot" sans-serif ;
    font-size:$ulcham ;
    color: #000;

    span{
        color: #5E3BEE;
    }
}